{% extends 'base.html' %}
{% block content %}
    <a class="btn btn-danger" href="{% url 'main' %}">Back to main page</a>
    <h2>Create a new game (this device will be a monitor for this game)</h2>
    <form action="" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
                    <input type="text" class="form-control" name="name" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Passphrase</span>
                    <input type="password" class="form-control" name="password" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
            </div>
        </div>

            <input type="submit" class="btn btn-primary btn-lg" name="action" value="Create">
    </form>
{% endblock content %}
